<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	  <servlet>
	    <servlet-name>initServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.init.servlet.InitServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	  </servlet>
	  <servlet>
	    <servlet-name>userServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.servlet.UserServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>userServlet</servlet-name>
	    <url-pattern>/userServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>doctorServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.servlet.DoctorServlet</servlet-class>
	    <init-param>
	      <param-name>filepath</param-name>
	      <param-value>upload/</param-value>
	    </init-param>
	    <init-param>
	      <param-name>temppath</param-name>
	      <param-value>temp/</param-value>
	    </init-param>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>doctorServlet</servlet-name>
	    <url-pattern>/doctorServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>inspectServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.servlet.InspectServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>inspectServlet</servlet-name>
	    <url-pattern>/inspectServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>examScoreServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.servlet.ExamScoreServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>examScoreServlet</servlet-name>
	    <url-pattern>/examScoreServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>stationScoreServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.servlet.StationScoreServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>stationScoreServlet</servlet-name>
	    <url-pattern>/stationScoreServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>stationScoreExtServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.station.servlet.StationScoreExtServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>stationScoreExtServlet</servlet-name>
	    <url-pattern>/stationScoreExtServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>stationDoctorServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.servlet.StationDoctorServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>stationDoctorServlet</servlet-name>
	    <url-pattern>/stationDoctorServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>stationInfoServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.station.servlet.StationInfoServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>stationInfoServlet</servlet-name>
	    <url-pattern>/stationInfoServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>exitVerifyServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.servlet.ExitVerifyServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>exitVerifyServlet</servlet-name>
	    <url-pattern>/exitVerifyServlet</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>paramsServlet</servlet-name>
	    <servlet-class>cn.poomoo.exam.params.servlet.ParamsServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>paramsServlet</servlet-name>
	    <url-pattern>/paramsServlet</url-pattern>
	  </servlet-mapping>
	  <filter>
	    <filter-name>loginFilter</filter-name>
	    <filter-class>cn.poomoo.exam.filter.LoginFilter</filter-class>
	  </filter>
	  <filter-mapping>
	    <filter-name>loginFilter</filter-name>
	    <url-pattern>/bpage/page/*</url-pattern>
	  </filter-mapping>
	  <welcome-file-list>
	    <welcome-file>bpage/page/login.jsp</welcome-file>
	  </welcome-file-list>
</web-app>